.ipynb_checkpoints/
.idea/
__pycache__/
community/
myc19data/
call_center_sched/
chime/
mychime/archive/using_run_sim_chime_scenario/output/batches/*.json
mychime/archive/using_run_sim_chime_scenario/output/batches/*.csv
mychime/modeling/sim_chime_scenario_runner.py


